/*
 * Auto created by artisan on 18.10.2018 at 22:27
 * imports/_vars
 * @author Champa
 */

 $primary-color: rgba(255, 115, 0, 0.932);
 $primary-dark: rgba(197, 79, 0, 0.932);
 
 $break-for-mobile: 992px;