/*
 * Auto created by artisan on 06.11.2018 at 18:20
 * admin
 * @author Champa
 */
/*
 * Auto created by artisan on 18.10.2018 at 22:27
 * imports/_vars
 * @author Champa
 */
a {
  color: rgba(255, 115, 0, 0.932);
  font-weight: 400; }

.normalize_input {
  border: 0 !important;
  box-shadow: none !important;
  height: auto !important; }
  .normalize_input:active, .normalize_input:focus {
    border: 0 !important;
    box-shadow: none !important; }

/*
 * Auto created by artisan on 18.10.2018 at 15:33
 * imports/_common
 * @author Champa
 */
h4.title {
  font-weight: bold;
  font-size: 25px; }

.row {
  margin-bottom: 10px; }

.button {
  padding: 10px 16px;
  background: rgba(255, 115, 0, 0.932);
  color: #fff;
  border-radius: 4px;
  font-weight: 400;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid rgba(255, 115, 0, 0.932);
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
  -webkit-transition: 0.2s all;
  transition: 0.2s all; }
  .button:active, .button:focus {
    background: rgba(197, 79, 0, 0.932); }
  .button.loading:hover:after {
    margin: 0 !important; }
  .button.loading:after {
    margin: 0 !important;
    content: "" !important; }
  .button.go:hover:after {
    opacity: 1;
    margin-left: 5px; }
  .button.go:after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 15px;
    opacity: 0;
    margin-left: -2px;
    -moz-transition: 0.2s all;
    -o-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    transition: 0.2s all; }

.content-holder {
  border-radius: 4px;
  background: #fff;
  padding: 8px;
  margin-bottom: 20px; }

/*
 * Auto created by artisan on 12.11.2018 at 13:56
 * components/_widgets
 * @author Champa
 */
.widget-container {
  border-radius: 4px; }
  .widget-container .title {
    color: #fff;
    border-radius: 4px 4px 0 0;
    font-size: 19px;
    padding: 8px;
    font-weight: 500;
    background: rgba(255, 115, 0, 0.932); }
  .widget-container .content {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0;
    border-radius: 0 0 4px 4px;
    padding: 8px; }

/*
 * Auto created by artisan on 06.11.2018 at 18:30
 * components/adminHeader
 * @author Champa
 */
.header {
  height: 250px;
  background: rgba(255, 115, 0, 0.932);
  background: -webkit-linear-gradient(-315deg, rgba(255, 115, 0, 0.932), rgba(197, 79, 0, 0.932));
  background: linear-gradient(-315deg, rgba(255, 115, 0, 0.932), rgba(197, 79, 0, 0.932)); }
  .header h1 {
    font-size: 45px;
    text-align: center;
    color: #fff;
    font-weight: lighter;
    margin: 0;
    padding-top: 85px; }
    .header h1 span {
      font-weight: normal; }
  .header .menu-bar {
    height: 50px;
    margin-top: 35px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 4px 4px 0 0; }
    .header .menu-bar .menu-list .menu-item {
      float: left;
      height: 50px;
      line-height: 45px;
      text-align: center;
      padding: 0 8px;
      font-size: 19px;
      font-weight: 500;
      color: #424242;
      -moz-transition: 0.2s all;
      -o-transition: 0.2s all;
      -webkit-transition: 0.2s all;
      transition: 0.2s all; }
      .header .menu-bar .menu-list .menu-item .icon {
        color: rgba(255, 115, 0, 0.932); }
      .header .menu-bar .menu-list .menu-item:hover, .header .menu-bar .menu-list .menu-item.active {
        background: #fff; }
      .header .menu-bar .menu-list .menu-item:nth-of-type(1) {
        border-radius: 4px 0 0 0; }

.sub-menu {
  position: relative;
  height: 40px;
  margin-top: -4px;
  margin-bottom: 4px; }
  .sub-menu .submenu-item {
    display: inline-block;
    height: 40px;
    line-height: 35px;
    text-align: center;
    padding: 0 8px;
    font-size: 17px;
    font-weight: 400;
    color: #424242;
    text-transform: lowercase;
    font-variant: small-caps; }
  .sub-menu .icon {
    margin-right: 4px; }

.pull-up-content {
  margin-top: -35px; }

/*
 * Auto created by artisan on 06.11.2018 at 18:26
 * pages/adminIndex
 * @author Champa
 */
.news-widget .content {
  overflow-y: auto;
  height: 300px; }
  .news-widget .content h4 {
    font-weight: bold;
    margin-bottom: 0; }
    .news-widget .content h4 .urgent {
      color: red;
      animation: urgent-flash 1s linear infinite; }
  .news-widget .content .under-title-holder {
    height: 25px; }
    .news-widget .content .under-title-holder p.time-and-date {
      float: left;
      margin-top: 0;
      font-size: 16px;
      width: 130px; }
    .news-widget .content .under-title-holder .dash {
      float: left;
      height: 1px;
      background: rgba(0, 0, 0, 0.2);
      margin-top: 12px;
      margin-left: 5px;
      width: 100%;
      max-width: -webkit-calc(100% - 140px);
      max-width: -moz-calc(100% - 140px);
      max-width: calc(100% - 140px); }

@keyframes urgent-flash {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/*
 * Auto created by artisan on 06.01.2019 at 18:40
 * pages/_adminInstaller
 * @author Champa
 */
.module-loader-holder {
  height: 400px; }
  .module-loader-holder .module-loader {
    margin: auto;
    width: 70px;
    height: 70px;
    padding-top: 120px; }
  .module-loader-holder .text {
    text-align: center;
    font-size: 17px;
    margin-top: 75px; }

.module-information {
  margin-top: 15px; }
  .module-information .module-picture {
    width: 100%; }
  .module-information .information-grid .row {
    margin-bottom: 0; }
  .module-information .information-grid .installer-butttons {
    margin-top: 15px; }
  .module-information .information-grid .module-changes {
    margin-top: 10px; }
    .module-information .information-grid .module-changes .window-toggler {
      background: transparent;
      padding: 4px 8px;
      border-radius: 4px;
      border: 2px solid rgba(0, 0, 0, 0.2);
      cursor: pointer; }
      .module-information .information-grid .module-changes .window-toggler .icon {
        -moz-transition: 0.2s all;
        -o-transition: 0.2s all;
        -webkit-transition: 0.2s all;
        transition: 0.2s all; }
      .module-information .information-grid .module-changes .window-toggler:hover .icon {
        transform: translateY(5px); }
      .module-information .information-grid .module-changes .window-toggler.active {
        border-bottom: 0;
        border-radius: 4px 4px 0 0; }
    .module-information .information-grid .module-changes .changes-window {
      background: transparent;
      padding: 8px;
      border-radius: 0 0 4px 4px;
      border: 2px solid rgba(0, 0, 0, 0.2);
      border-top: 0; }
      .module-information .information-grid .module-changes .changes-window .section h4 {
        margin: 0; }
      .module-information .information-grid .module-changes .changes-window .section p {
        margin: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 8px; }
      .module-information .information-grid .module-changes .changes-window .section .icon.panic {
        color: #ff2323; }
      .module-information .information-grid .module-changes .changes-window .section .icon.conflict {
        color: #ffa700; }
      .module-information .information-grid .module-changes .changes-window .section .icon.ok {
        color: #00da00; }

.module-install-status .status-list {
  background: #263238;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  max-height: 315px;
  overflow-y: auto; }
  .module-install-status .status-list ol {
    padding: 8px;
    margin: 0;
    list-style: none; }
    .module-install-status .status-list ol li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding: 5px; }
      .module-install-status .status-list ol li .addition {
        color: #00d60b; }
      .module-install-status .status-list ol li:nth-last-of-type(1) {
        border-bottom: 0; }

/*
 * Auto created by artisan on 10.02.2019 at 14:00
 * pages/_adminModules
 * @author Champa
 */
.module-list .module-holder {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px; }
  .module-list .module-holder .module-picture {
    width: 100%; }
  .module-list .module-holder .module-info h4 {
    margin: 0;
    margin-bottom: 7px; }
  .module-list .module-holder .module-info p {
    margin: 0; }
  .module-list .module-holder .options .icon {
    color: rgba(0, 0, 0, 0.4);
    font-size: 26px;
    cursor: pointer; }
    .module-list .module-holder .options .icon:hover {
      color: rgba(0, 0, 0, 0.6); }

body {
  background: #eeeeee; }

/*# sourceMappingURL=admin.css.map */
