/*
 * Auto created by artisan on 06.11.2018 at 18:20
 * admin
 * @author Champa
 */

@import "imports/vars";
@import "imports/mixins";
@import "imports/main";
@import "imports/common";

@import "components/widgets";
@import "components/adminHeader";

@import "pages/adminIndex";
@import "pages/adminInstaller";
@import "pages/adminModules";

body {
	background: rgb(238, 238, 238);
}